<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>
    <link rel='stylesheet' href='https://unpkg.com/plyr@3/dist/plyr.css'>
</head>
<body>
    <div class="song-cover-main" style="box-shadow: 0px 0px 40px 2px rgb(252, 255, 52);"><img src="..//static/img/24k goldn.jpg" alt="City Of Angels-24kGoldn"></div>
<div class="container-home">
	<audio crossorigin playsinline>
		<source src="../static/cia.wav" type="audio/wav">
	</audio>
</div>
<script src='https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL'></script>
<script src='https://unpkg.com/plyr@3'></script>
<script src="../static/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
</body>
</html>