{%extends 'base.htm'%}

{%block content%}



<main class="explore-page">
    <div class="explore-page__trending mgb-medium">
        <h2 class="heading-2 mgb-small">Trending</h2>
        <i class="fas fa-chevron-right explore-page__icon explore-page__icon--right" id="t1"></i>
        <i class="fas fa-chevron-left explore-page__icon explore-page__icon--left" id="t2"></i>
        <div class="explore-page__carousel-parent">
            <div class="explore-page__carousel" id="Tcar">
                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>
            </div>
        </div>
    </div>

    <div class="explore-page__new mgb-medium">
        <h2 class="heading-2 mgb-small">New Hits</h2>
        <i class="fas fa-chevron-right explore-page__icon explore-page__icon--right" id="n1"></i>
        <i class="fas fa-chevron-left explore-page__icon explore-page__icon--left" id="n2"></i>
        <div class="explore-page__carousel-parent">
            <div class="explore-page__carousel" id="Ncar">
                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>
            </div>
        </div>
    </div>

    <div class="explore-page__sugg mgb-medium">
        <h2 class="heading-2 mgb-small">Suggested For You</h2>
        <i class="fas fa-chevron-right explore-page__icon explore-page__icon--right" id="s1"></i>
        <i class="fas fa-chevron-left explore-page__icon explore-page__icon--left" id="s2"></i>
        <div class="explore-page__carousel-parent">
            <div class="explore-page__carousel" id="Scar">
                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>

                <div class="explore-page__slide slide-1 active" id="1">
                    <div class="overlay"></div>
                    <p class="explore-page__carousel-name">Bryan Adams</p>
                    <p class="explore-page__carousel-sname">Summer of '69</p>
                </div>
            </div>
        </div>
    </div>
</main>












<script src="../static/js/explore.js"></script>
{%endblock%}
